@import "@angular/material/prebuilt-themes/deeppurple-amber.css";
@import 'material-icons/iconfont/material-icons.css';
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.container {
  margin-left: auto;
  max-width: 900px;
  margin-right: auto;
  flex-grow: 1;
  width: 100%;
  overflow-x: auto;
}

app-root {
  height: 100%;
  display: flex;
  flex-direction: column;
}
