<mat-card class="menu-item-card">
  <mat-card-header class="header">
    <mat-card-title>{{ menuItem.name }}</mat-card-title>
  </mat-card-header>
  <div class="image-container">
    <img
      *ngIf="imageUrls.length > 0"
      mat-card-image
      [src]="imageUrls[imageUrls.length - 1]"
      class="image"
      (click)="onClickDetails()"
    />
    <div
      *ngIf="imageUrls.length <= 0"
      class="no-image"
      (click)="onClickDetails()"
    >
      <mat-icon [inline]="true" fontIcon="image_not_supported" />
    </div>
    <button
      mat-mini-fab
      color="primary"
      matTooltip="Upload new image"
      class="upload-button"
      (click)="fileUpload.click()"
    >
      <mat-icon fontIcon="file_upload" />
    </button>
  </div>

  <mat-card-content class="content">
    <p>
      {{ menuItem.description }}
    </p>
    <a mat-tab-link (click)="onClickDetails()" class="details-link"
      >View details</a
    >
    <div class="tags">
      <mat-chip *ngFor="let item of menuItem.tags" class="tag">{{
        item
      }}</mat-chip>
    </div>
  </mat-card-content>
  <mat-card-actions class="actions">
    <app-star-rating
      [rating]="rating"
      (updateRatingEvent)="onUpdateRating($event)"
    />
    <div class="rating-container">
      <div class="dividend">{{ menuItem.averageRating }}</div>
      <div class="divisor">/5</div>
      <div class="count">{{ menuItem.ratingCount }} ratings</div>
    </div>
  </mat-card-actions>
</mat-card>
<input
  #fileUpload
  type="file"
  class="file-upload"
  (change)="onFileSelected($event)"
/>
