.menu-item-card {
  height: 100%;
  .header-image {
    background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
    background-size: cover;
  }

  .header {
    padding: 12px;
  }

  .image-container {
    position: relative;

    .image {
      width: 100%;
      cursor: pointer;
    }
    .no-image {
      cursor: pointer;
      color: lightgray;
      font-size: 64px;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 200px;
      mat-icon {
        height: auto;
      }
    }
    .upload-button {
      position: absolute;
      bottom: 16px;
      right: 16px;
    }
  }

  .content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 16px;
    .details-link {
      margin-top: auto;
      cursor: pointer;
      text-decoration: underline;
      &:hover {
        color: rgba(0, 0, 0, 0.67);
      }
    }
    .tags {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 4px;
      .tag {
        --mdc-chip-container-height: 24px;
      }
    }
  }

  .actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .rating-container {
      display: grid;
      grid-template-columns: max-content min-content;
      grid-template-areas:
        "dividend divisor"
        "count count";
      .dividend {
        grid-area: dividend;
        font-size: 24px;
        font-weight: bold;
        height: min-content;
        align-self: end;
        width: min-content;
        margin-left: auto;
      }
      .divisor {
        grid-area: divisor;
        font-size: 20px;
        height: min-content;
        align-self: end;
      }
      .count {
        grid-area: count;
        font-size: 12px;
        font-weight: lighter;
      }
    }
  }
}

:host {
  min-width: 0;
}

.file-upload {
  visibility: hidden;
}
