<div class="home-container">
  <h2>Today's menu</h2>
  <div class="menu-items-container">
    <app-menu-item-card
      *ngFor="let item of todaysMenuItems"
      [menuItem]="item"
    />
  </div>
</div>
