<mat-toolbar color="primary">
  <a class="title" [routerLink]="['/']">{{ title }}</a>

  <div class="toolbar-spacer"></div>

  <a mat-button [routerLink]="['home']" *ngIf="loginDisplay">Home</a>

  <button mat-raised-button *ngIf="!loginDisplay" (click)="login()">
    Login
  </button>
  <button mat-raised-button *ngIf="loginDisplay" (click)="logout()">
    Logout
  </button>
</mat-toolbar>
<div class="container">
  <!--This is to avoid reload during acquireTokenSilent() because of hidden iframe -->
  <router-outlet *ngIf="!isIframe"></router-outlet>
</div>
