<h1 mat-dialog-title>{{ data.menuItem.name }}</h1>
<div mat-dialog-content [style.height]="'auto'">
  <div class="carousel-container">
    <mat-carousel
      *ngIf="imageUrls.length > 0"
      color="primary"
      [autoplay]="false"
      [proportion]="56.25"
      [loop]="true"
      [hideArrows]="false"
      [hideIndicators]="false"
      maxWidth="100%"
    >
      <mat-carousel-slide
        *ngFor="let image of imageUrls"
        [image]="image"
        [hideOverlay]="false"
      ></mat-carousel-slide>
    </mat-carousel>
    <div *ngIf="imageUrls.length <= 0" class="no-image">
      <mat-icon [inline]="true" fontIcon="image_not_supported" />
      No image
    </div>
    <button
      mat-fab
      color="primary"
      matTooltip="Upload new image"
      class="upload-button"
      (click)="fileUpload.click()"
    >
      <mat-icon fontIcon="file_upload" />
    </button>
  </div>
  {{ data.menuItem | json }}
</div>

<input
  #fileUpload
  type="file"
  class="file-upload"
  (change)="onFileSelected($event)"
/>
