.carousel-container {
  position: relative;

  .no-image {
    color: lightgray;
    font-size: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    flex-direction: column;
    font-size: 24px;
    mat-icon {
      height: auto;
      line-height: normal;
      font-size: 64px;
    }
  }

  .upload-button {
    position: absolute;
    bottom: 16px;
    right: 16px;
    z-index: 1;
  }
}

:host ::ng-deep {
  .carousel-slide {
    background-size: contain !important;
  }
  .carousel-slide-overlay {
    background-color: #11ffee00 !important;
  }
}

.file-upload {
  visibility: hidden;
}
